*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* body{
    background-color:  #f8f5f5;
   
} */

.pairnt{
    
    width: 50%;
    height: 620px;
    background-color: lightgray;
    margin: 80px 350px;
    /* margin: auto; */
}
.pairnt a{
    
    font-size: 40px;
    color: #fd7e14;
    text-decoration: none;
    margin-top: 20px;
}
.pairnt .link11{
    display: flex;
}
.pairnt .link111{
    margin-left: 200px;
    
}

.pairnt .user{
    font-size: 20px;
    margin-bottom: 10px;
    margin-top: 10px;
}
.pairnt  .inputs{
    border: none;
    height: 40px;
    width: 80%;
    border-radius: 5px;
   
}
.pairnt #form1{
    margin-left: 40px;
}


.pairnt #form1 .rem{
    display: inline;
    margin-top: 50px;
    font-size: 20px;
    padding-left: 10px;
    /* height: 30px; */
}
.pairnt #form1 label,input{
    display: block;
    padding-left: 0.5rem;
}


.pairnt #form1 .btn{
    width: 50%;
    height: 50px;
    border: 0;
    font-size: 20px;
    background-color: #fd7e14;
    color: white;
    border-radius: 5px;
    margin-left: 80px;
    margin-top: 80px;
    cursor: pointer;
    
}
.pairnt #form1 .btn:hover{
    background-color: #000000;
}

.textarea{
    padding: 0.5rem;
    border: none;
    height: 100px;
    width: 80%;
    border-radius: 5px;

}